AdoNet/Connected Services/EmployeeService/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LabEmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LabEmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTO" nillable="true" type="tns:ArrayOfEmployeeDTO" />
  <xs:complexType name="EmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeLastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
</xs:schema>